.admin-user-form {
  border: 3px solid #95799B;
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 14px 3px rgba(0, 0, 0, 0.5);
  height: 580px;
}

.admin-user-form-wrapper {
  height: 580px;
}

.admin-user-form-icon-container {
  height: 100px;
  width: 100px;
}