.superuser-finance-top-earners {
  border: 2px solid #705366;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 14px 3px rgba(0,0,0,0.5);

  h1 {
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    color: #A4B5BD;
  }

  h2 {
    font-size: 20px;
    color: #D59500;
  }
}

.super-user-finance-money-tag {
  font-size: 48px;
  font-weight: 900;
}

.super-user-finance-upcoming {
  border: 2px solid #705366;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 14px 3px rgba(0,0,0,0.5);

  h3 {
    font-weight: 900;
    font-size: 18px;
    line-height: 38px;
    color: #A4B5BD;
    text-align: center;
    margin-bottom: 0;
  }

  h4 {
    font-size: 32px;
    color: #D59500;
    margin-bottom: 0;
  }

  p {
    font-size: 48px;
    font-weight: 900;
    color: #FFF;
    margin-bottom: 0;
  }
}