.register-bg {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(269.2deg, darken(rgba(69, 14, 106, 0.9), 8) 0%, darken(rgba(149, 104, 0, 0.9), 8) 100%, darken(rgba(213, 149, 0, 0.9), 8) 100%), url('../../assets/images/house1.png'), ;
  background-position-y: -100px;
  background-attachment: fixed;
}

.register-form-container {
  width: 945px;
  min-height: 466px;
  border: 3px solid rgba(149, 121, 155, 0.35);
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.35);
}