.footer-container {
  height: 185px;
  background-color: #000;
  color: #4A4A4A;
}

.footer-logo {
  height: 67px;
  width: 174px;
  background: url('../../../assets/icons/logo-footer.png');
  background-size: cover;
  margin-bottom: 20px;
}